/* Adjust the top margin to create a good distance from the navigation bar */
.redditor-container {
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust the height as needed */
}

/* Adjust the vertical alignment of input and button */
.redditor-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Add some space between the input and button */
.redditor-input {
    margin-bottom: 10px;
}

/* Center the button horizontally */
.submit-button {
    align-self: center;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
  }